<!-- Project summary card -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 mx-auto ">
            <div class="card">

                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="mb-0">
                        <h4><b>${project.title}</b></h4>
                    </div>
                    <div class="justify-content-between align-items-center">
                        ${project.date}
                    </div>
                </div>

                <div class="card-body">
                    <div class="container">
                        <div class="row">                        
                            <div class="col-md-5">
                                <img src="${project.image}" class="card-img-top" alt="Project Image">
                            </div>

                            <!-- Markdown text for the summary -->
                            <div class="col-md-7 d-flex flex-column">
                                <div class="container flex-grow-1 projectcard-body">
                                    ${project.text}
                                </div>
                                <!-- Button for larger screens (right aligned) -->
                                <a href="/projects?project=${project.url}" class="btn btn-primary mt-3 d-none d-md-inline-block align-self-end">View Project</a>

                                <!-- Button for smaller screens (left aligned, full span) -->
                                <a href="/projects?project=${project.url}" class="btn btn-primary mt-4 d-md-none text-start">View Project</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="container">
                        <!-- Tags -->  
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>